.hidden/
.venv/
__pycache__/
*.pyc
.pytest_cache/
.ipynb_checkpoints/
.DS_Store
# uv caches
.uv/
uv.lock
# editor junk
.vscode/
.idea/
./scripts/test/*
data/
**.nii.gz
.DS_Store
site/
notebooks/wandb/*
.julia
checkpoints/
artifacts/
**wandb*